<h1>Projects</h1>
<body style="background-color:#e0e0e0">
<style>
  /* Apply styles when list item is hovered */
  li:hover {
    background-color: #FFD700;
  }
</style>

<ul>
  <li>
    <form method="post">
      <a href="online_shop.html">Online Shop</a>
    </form>
  </li>
  <li>
    <form method="post">
      <a href="online_grad_book.html">Online Grad Book</a>
    </form>
  </li>
  <li>
    <form method="post">
      <a href="music_app.html">Music App</a>
    </form>
  </li>
  <li>
    <form method="post">
      <a href="task_diary.html">Task Diary</a>
    </form>
  </li>
</ul>
</body>